body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1{
  text-align: center;
}

#chartdiv {
  width: 100%;
  height: 550px;
}

circle {
  r: 15px !important;
}

.cus {
  text-align: center;
}

.hr-line-dashed {
  border-top: 1px dashed #e7eaec;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}

.b-r {
  border-right: 1px solid #e7eaec;
}